<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find ruvu_gazebo_plugins)/test/twist_move.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="true"/>
    <arg name="verbose" default="true"/>
  </include>
</launch>

