[Unit]
Description=Launch roscore

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-abort
ExecStart=/bin/bash -c "source ~/.config/ros-get/workspace/devel/setup.bash && roscore"
