<?xml version="1.0"?>
<!--
Copyright 2020 RUVU Robotics B.V.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
 <material name="aluminum">
   <color rgba="0.5 0.5 0.5 1"/>
 </material>
 <material name="yellow">
    <color rgba="0.9 0.8 0.2 1" />
  </material>
  <material name="black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="silver">
    <color rgba="0.8 0.8 0.8 1" />
  </material>
</robot>
